.Room{
  width: 100%;

  &__topContent{
    h2{
      color: #82B428;
    }
  }
  &__Slider{
    position: relative;
    margin: auto;
  }
  .active-rs{
    display: none;
  }
  &__topInner{
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 33% 67%;
    grid-template-columns: 33% 67%;
    border: 1px solid #C5C5C5;
    box-shadow: 8px 8px 25px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 8px 8px 25px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 8px 8px 25px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    img{
      width: 100%;
    }
  }
  &__topInner > img {
    border-radius: 20px 0px 0px 20px;
  }
  &__right{
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 10px 1fr 10px 1fr 10px 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    -ms-grid-rows: 1fr 10px 1fr 10px 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "left left right right"
                          "left left right right"
                          "bottom bottom bottom bottom";
    padding: 40px 10px 20px 10px;
    gap: 10px;
  }
  &__img{
    -ms-grid-row: 1;
    -ms-grid-row-span: 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-area: left;
  }
  &__textRight{
    -ms-grid-row: 1;
    -ms-grid-row-span: 3;
    -ms-grid-column: 5;
    -ms-grid-column-span: 3;
    grid-area: right;
    h3{
      color: #2B2422;
    }
    span{

      display: block;
    }
    button{
      width: 75%;
      margin-top: 25px;
      min-height: 50px;
    }
  }
  &__textBottom{
    -ms-grid-row: 5;
    -ms-grid-column: 1;
    -ms-grid-column-span: 7;
    grid-area: bottom;
    span{
      display: block;
    }
  }
  &__textBottom > div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  &__textBottom > div > div > span:last-child{
    color: #2B2422;
  }
  &__dots{
    margin-top: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    gap: 5px;
    span{
      cursor: pointer;
      height: 12px;
      width: 12px;
      margin: 0 2px;
      border-radius: 50%;
      display: inline-block;
      -webkit-transition: background-color 0.6s ease;
      -o-transition: background-color 0.6s ease;
      transition: background-color 0.6s ease;
      background-color: #aaa;
    }
  }
  &__Slider-dots,.active{
    background-color: #2DA3DC;
  }
  &__Card{
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 30% 30% 30%;
    grid-template-columns: 30% 30% 30%;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;

  }
  &__Item{
    height: 100%;
    border-radius: 10px;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;

    cursor: pointer;
    img{
      width: 100%;
      height: 100%;
      border-radius: 10px;
    }
  }
  &__ItemContent{
    z-index: 1;
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    height: 100%;
    width: 100%;
    border-radius:10px;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), color-stop(200%, #000000));
    background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, #000000 200%);
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 200%);
    span{
      color:white;
      display: block;
      margin: 0px 0px 10px 20px;

    }
  }
  &__middleContent{
    margin-top: 50px
  }
  &__bottomContent{
    background: url('../../../Img/Room/Bottom.jpg');
    background-size: cover;
    min-height: 350px;
    margin-top: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    div{
      width: 284px;
      h2{
        color: #646865;
      }
      button{
        height: 51px;
        font-size: 20px;
        line-height: 30px;
        padding: 11px 14px 13px 14px;
      }
    }
  }
}
@media only screen and (max-width: 1024px){
  .Room{
    &__topInner{
      display: block;
    }
    &__topInner > img{
      display: none;
    }
    &__bottomContent{
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
    }
    &__bottomContent > div {
      text-align: center;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      height: 350px;
    }
  }
}
@media only screen and (max-width: 768px){
  .Room{
    &__Card{
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      gap: 30px;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
    }
    &__Item{
      width: 100%;
    }
    &__ItemContent{
      span{
        font-size: 5vw;
      }
    }
    &__right{
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
    }
    &__textRight{
      button{
        margin-left: (25%/2);
      }
    }
    &__textBottom > div{
      display: -ms-grid;
      display: grid;
      -ms-grid-columns: 1fr 20px 1fr 20px 1fr;
      grid-template-columns: 1fr 1fr 1fr;
      -ms-grid-rows: 1fr 20px 1fr;
      grid-template-rows: 1fr 1fr;
      grid-template-areas: 'top top top' 'left middle right';
      text-align: center;
      gap: 20px;
    }
    &__textBottom > div > div:nth-child(1){
      grid-area: top;
    }
    &__textBottom > div > div:nth-child(2){
      -ms-grid-row: 1;
      -ms-grid-row-span: 3;
      -ms-grid-column: 1;
      -ms-grid-column-span: 3;
      grid-area: left;
    }
    &__textBottom > div > div:nth-child(3){
      grid-area: middle;
    }
    &__textBottom > div > div:nth-child(4){
      -ms-grid-row: 1;
      -ms-grid-row-span: 3;
      -ms-grid-column: 5;
      -ms-grid-column-span: 3;
      grid-area: right;
    }
    @media only screen and (max-width: 768px){
      &__textBottom > div > &__img{
        -ms-grid-row: 3;
        -ms-grid-row-span: 1;
        -ms-grid-column: 1;
        -ms-grid-column-span: 1;
      }
      &__textBottom > div > &__textRight{
        -ms-grid-row: 3;
        -ms-grid-row-span: 1;
        -ms-grid-column: 5;
        -ms-grid-column-span: 1;
      }
      &__textBottom > div > div:nth-child(1){
        -ms-grid-row: 1;
        -ms-grid-column: 1;
        -ms-grid-column-span: 5;
      }
      &__textBottom > div > div:nth-child(2){
        -ms-grid-row: 3;
        -ms-grid-row-span: 1;
        -ms-grid-column: 1;
        -ms-grid-column-span: 1;
      }
      &__textBottom > div > div:nth-child(3){
        -ms-grid-row: 3;
        -ms-grid-column: 3;
      }
      &__textBottom > div > div:nth-child(4){
        -ms-grid-row: 3;
        -ms-grid-row-span: 1;
        -ms-grid-column: 5;
        -ms-grid-column-span: 1;
      }
    }
  }
}
@media only screen and (max-width: 500px){
  .Room{
    &__bottomContent{
      background: url('../../../Img/Room/Bottom-Mobile.jpg');
      background-size: cover;
      border-radius: 20px;
    }
    &__Card{
      display: none;
    }
    .active-rs{
      display: block;
    }
    &__bottomContent > div {
      height: 600px;
    }
    &__ItemContent{
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: end;
      -ms-flex-align: end;
      align-items: flex-end;
      text-align: center;
      background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), color-stop(150%, #000000));
      background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, #000000 150%);
      background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 150%);
      span{
        font-size: 5vw;
        margin-left: 0;
        margin-bottom: 30px;
      }
    }
  }
}